<mat-card class="text-center" style="background-color: rgb(86, 170, 244);">
    <span style="font-size: 30px; color: white;">Accueil</span>
</mat-card>
<!-- 
<div class="row mt-4">
    <div class="col-md-3">
        <h1>les statistiques</h1>
    </div>
</div> -->

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
          <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Population Bargnoise</h6>
                            <h2 class="text-right"><img class="f-left" src="/assets/images/gens.png" style="width: 25%; height: 25%;" alt=""><span>486</span></h2><br>
                            <h3 class="m-b-0">Population actuelle</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-block" style="color: white;">
                            <h6 class="m-b-20">Déclarations de naissance</h6>
                            <h2 class="text-right"><img class="f-left" src="/assets/images/naissance.png" style="width: 25%; height: 25%;" alt=""><span>1641</span></h2><br>
                            <h3 class="m-b-0">Naissance<span class="f-right">213</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Déclarations de mariage</h6>
                            <h2 class="text-right"><img class="f-left" src="/assets/images/mariage2.png" style="width: 25%; height: 25%;" alt=""><span>200</span></h2><br>
                            <h3 class="m-b-0">Mariage<span class="f-right">34</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Déclarations de décès</h6>
                            <h2 class="text-right"><img class="f-left" src="/assets/images/deces.png" style="width: 25%; height: 25%;" alt=""><span>217</span></h2><br>
                            <h3 class="m-b-0">Décès<span class="f-right">217</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    

