<mat-card class="text-center" style="background-color: rgb(86, 170, 244);">
    <span style="font-size: 30px; color: white;">Gestion des structures sanitaire</span>
</mat-card>


<div class="mt-5">
    <div class="row">
            <table class="table table-striped text-center">
                <thead>
                <tr >
                  <th scope="col">#</th>
                  <th scope="col">Code</th>
                  <th scope="col">Libéle</th>
                  <th scope="col">Département</th>
                  <th scope="col">Modifier</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <th scope="row">123</th>
                  <th scope="row">Hôpital Fann</th>
                  <th scope="row">Rufisque</th>
                  <th scope="row">
                    <i class="fa fa-edit btn btn-warning"></i>
                  </th>
                </tr>
                
                </tbody>
              </table>
    </div>
</div>